.slds-spinner_container {
  background-color: rgb(226, 226, 226);
}

.slds-spinner_container::after {
  content: "Please wait while loading...";
  color: rgb(122, 122, 122);
  font-size: 16px;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.headerBox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-image: linear-gradient(
    to left bottom,
    #0176d2,
    #006cc0,
    #0061ad,
    #00579b,
    #014d8a
  );
  color: white;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}