p{
    font-size: 15px;
}

@media print {
    input[type="radio"]:checked+span { 
        font-weight: bold; 
    }
}

.selected{
    color:green;
}
.unselected{
    color:black;
}

textarea {
    --sds-c-textarea-sizing-min-height: 200px;
}

.signature-output{
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
    color: #2E86C1;
    font-size: 1.8rem;
}